---
import '@fontsource-variable/figtree';
import Part1 from './Part1.astro';
import img1 from '../images/illustration-article.svg';
import img2 from '../images/image-avatar.webp';
---

<div class=" bg-pwhite p-5 rounded-xl flex flex-col gap-3 font-fig border shadow-[10px_10px_0px_0px]">
    <Part1 image1={img1.src}
    url='Learning'
    text1='Published 21 Dec 2023'
    title='HTML & CSS foundations'
    text2='These language are the backbone of every website, defining structure, content, and presentation.'
    image2={img2.src}
    name='Greg Hooper'
     />
</div>
